
#ignoring all the output fits
/*.fits

./*/*.fits

#diffrent exposure time output files
./*/outputs/*.fits

#lines fit plots outputs after fitting the lines of the spectrum
./*/linefitplots/*.png

#all the radial Te and ne profiles
./*/plotprofiles/*.png

#csv and fits file
shell*
1

#ignoring all the simulations stored for analysis
Bubble*

__pycache__/lvmnebular.cpython-38.pyc
